
<nav class="navbar navbar-expand-xl navbar-dark bg-dark fixed-top" id="mainNav">

  <!-- Logo -->
  {% include '_logo_s' + session.get('sid') + '.html' %}

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">

    <!-- Sidenav -->
    {% include '_sidenav_s' + session.get('sid') + '.html' %}

    <ul class="navbar-nav ml-auto">

      {% if session.get('title') == "ダッシュボード" %}
      {% include '_nav_messages_dropdown.html' %}
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{{ session.get('root') }}/login_history">
          <i class="fa fa-fw fa-user"></i>
          前回ログイン日時 : なし</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <i class="fa fa-fw fa-sign-out"></i>
          ログアウト</a>
      </li>
    </ul>
  </div>
</nav>
