<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ session.get('title') }} - {{ session.get('app_name') }}</title>
  <!-- Bootstrap core CSS-->
  <link href="{{ session.get('root') }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <!-- <link href="{{ session.get('root') }}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{ session.get('root') }}/css/custom.css" rel="stylesheet">
  <link href="{{ session.get('root') }}/css{{ session.get('root') }}/login.css" rel="stylesheet">
</head>

{% include '_login_s' + session.get('sid') + '.html' %}

</html>
